<nav>
  <ul class="pagination">
    <li [appCustomClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <!-- <ng-container *ngFor="let image of images; let i = index"> -->
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appCustomClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      [appCustomClass]="{ disabled: currentPage === images.length - 1 }"
      class="page-item"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <!-- <h4 [appCustomClass]="'red'"> -->
  <h4>
    {{ images[currentPage].title }}
  </h4>
  <img [src]="images[currentPage].url" alt="{{ images[currentPage].title }}" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Page is Zero</div>
  <div *ngSwitchCase="2">Page is Two</div>
  <div *ngSwitchCase="2">Page is Two</div>
  <div *ngSwitchCase="3">Page is Three</div>
  <div *ngSwitchDefault>Page is unknown</div>
</div> -->
